@import url("https://fonts.googleapis.com/css2?family=Hind:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Hind", sans-serif;
  }

  .overflow-visible-custom {
    overflow: visible !important;
    overflow-y: visible !important;
    overflow-x: visible !important;
  }

  @media all and (display-mode: standalone) {
    button,
    button:hover,
    button:active,
    button:focus,
    a,
    a:hover,
    a:active,
    a:focus {
      touch-action: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
